$main-black: #1e1e1e;
$secondary-black: rgba(0, 0, 0, 0.5);
$third-black: #8d8e8f;

$main-white: #fff;
$secondary-white: #f6f6f6;

$main-purple: #7e41ff;
$secondary-purple: #f4f1fe;
$third-purple: #dcd9e5;
$darken-purple: #321a66;

$border-form: #d9d4e4;

$main-red: #de543d;
$light-red: #fcece8;
