.view-landing {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-part {
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
  padding-left: 50px;
  background-color: $darken-purple;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .small-txt {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .animated {
    scale: 0;
  }
  .diseapear {
    opacity: 0;
  }

  .hide-container {
    width: 30px;
    height: 30px;
    background-color: $main-white;
    border-radius: 50%;
    transition: all 0.4s linear;
  }

  .tall-txt p {
    @include font("Poppins", 700, 3.2rem, $main-white);
    font-size: 3.2rem;
  }

  .small-txt p {
    @include font("Poppins", 500, 2.4rem, $main-white);
    transition: all 0.6s linear;
  }
}

.right-part {
  display: flex;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: center;
  background-color: #000000;

  .getstarted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .title {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .title p {
      @include font("Poppins", 700, 2.4rem, $main-white);
    }
  }

  .btns {
    display: flex;
    gap: 60px;
    height: 40px;

    .btn {
      display: flex;
      height: 100%;
      width: 130px;
      border-radius: 6px;

      button {
        border-radius: 6px;
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        background-color: $main-purple;
        cursor: pointer;
        @include font("Poppins", 700, 1.4rem, $main-white);

        &:hover {
          background-color: lighten($color: $main-purple, $amount: 10%);
        }

        &:focus {
          background-color: $main-purple;
        }
      }
    }
  }
}
