@import "variables";
@import "register";
@import "font";
@import "mixins";
@import "landingPage";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}
